<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        padding-bottom: 64px;
      }
      .botline{
        width: 95vw;
        margin-left: 2.5vw;
        height: 2px;
        background-color: darkgrey;
      }
      .footer{
        padding: 12px;
        text-align: right;
      }
      .footer-container{
        position: absolute;
        bottom: 0;
        left: 0;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= BASE_URL %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <router-view></router-view>
    </div>
    <!-- built files will be auto injected -->
    <div class="footer-container">
      <div class="botline"></div>
      <div class="footer">This site as engineered does not use any cookies.</div>
    </div>
  </body>
</html>
