<template>
    <div class="facet">
        <a v-bind:href="facet.link" :target="facet.link.startsWith('http') ? '_blank' : ''"><img
                :style="{maxWidth:(70/siblings)+'vw'}"
                v-bind:src="`https://libalex.singularity.net.za/rauten/${facet.isCharity ? 'charities' : 'icons'}/${facet.image}`"
                v-bind:alt="facet.name"></a>
        <p><a v-if="!facet.isCharity" v-bind:href="facet.link" :target="facet.link.startsWith('http') ? '_blank' : ''" class="prim"
            :style="{fontSize: smallScreen ? '1.4em' : '2em'}">{{facet.name}}</a><br/>
            <span class="facet_desc" :class="{facet_desc_light: dark}">{{facet.desc}}</span></p>
    </div>
</template>

<script>
    import FacetContent from "@/data-classes/FacetContent";

    export default {
        name: "Facet",
        props: {
            facet: FacetContent,
            dark: Boolean,
            siblings: Number,
        },
        data: function(){
            return {
                smallScreen: window.innerWidth < 1300,
            };
        },
    }
</script>

<style scoped>
    .facet {
        text-align: center;
    }
    .facet img {
        max-height: 15vh;
    }
    .facet_link {
        font-size: 2em;
    }
    .facet_desc {
        margin-top: 60px;
    }
    a {
        text-decoration: none;
    }
    /* dynamic class */
    .facet_desc_light {
        color: white;
    }
</style>
