<template><div class="facet_row_outer" :class="{parallax_bg: dark && content.bgImg}"
               v-bind:style="{backgroundImage: bgImg}">
    <h3 :class="{light_title: dark}" class="facet_row_title">{{content.title}}</h3>
    <div style="display: flex">
        <div style="flex-grow: 1" v-if="dark"/>
        <div class="facet_row_inner" style="flex-grow: 0">
            <Facet v-for="fcontent in content.facets" :key="fcontent.name" :facet="fcontent"
                class="single_facet" :dark="dark" :siblings="content.facets.length"/>
        </div>
        <div style="flex-grow: 1" v-if="!dark"/>
    </div>
</div></template>

<script>
import Facet from "@/components/home/Facet";
import FacetRowContent from "@/data-classes/FacetRowContent";

export default {
    name: "FacetRow",
    components: {Facet},
    props: {
        content: FacetRowContent,
        dark: Boolean,
    },
    data: function(){
        return {
            bgImg: (this.dark && this.content.bgImg) ?
                `url('/images/backgrounds/${this.content.bgImg}')` : null,
        };
    },
    methods: {
    },
}
</script>

<style scoped>
.facet_row_inner {
    display: flex;
    overflow-x: auto;
}
.facet_row_outer {
    padding: 24px;
}
.facet_row_title{
    font-weight: bold;
    margin-bottom: 24px;
    text-decoration: underline;
}
.single_facet {
    margin-right: 18px;
}
/* dynamic classes */
.parallax_bg {
    /* parallaxisms */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* tint */
    background-color: rgba(100,100,0,.7);
    background-blend-mode: multiply;
}
.light_title {
    color: white;
    text-align: right;
    padding-right: 24px;
}
</style>
