<template><div>
    <div ref="triangles" id="triangle-subject"></div>
    <div class="flex top-part" v-if="landscape" ref="top_part_land">
        <div class="flex-grow-1"></div>
        <div class="flex-grow-0">
            <IntroText style="max-width: 40vw;"></IntroText>
        </div>
        <div class="flex-grow-1"></div>
        <div class="flex-grow-0">
            <img src="../../assets/jans-avatar.png" alt="Jans Rautenbach" id="home-img-land">
        </div>
        <div class="flex-grow-1"></div>
    </div>

    <div v-if="!landscape" class="top-part" ref="top_part_port">
        <img src="../../assets/jans-avatar.png" alt="Jans Rautenbach" id="home-img-port">
        <IntroText style="max-width: 80vw; margin: auto;"></IntroText>
    </div>

    <div id="facets_container">
        <FacetRow v-for="(frow, index) in facetsRows" :key="frow.title"
            :content="frow" :dark="index % 2 === 1"/>
    </div>

</div></template>

<script>
    import FacetContent from '../../data-classes/FacetContent';
    import IntroText from "@/components/home/IntroText";
    import Triangulr from 'triangulr';
    import FacetRow from "@/components/home/FacetRow";
    import FacetRowContent from "@/data-classes/FacetRowContent";

    export default {
        name: "Home",
        components: {FacetRow, IntroText},
        data: () => {
            return {
                facetsRows: [
                    new FacetRowContent('Professional', [
                        new FacetContent('Curriculum Vitae', 'Continually updated resume', 'cv.png', 'https://waypoint.singularity.net.za/cv'),
                        new FacetContent('LinkedIn', 'Professional life summary', 'linkedin.png', 'https://www.linkedin.com/in/jans-rautenbach/'),
                    ]),
                    new FacetRowContent('Coding', [
                        new FacetContent('Personal Projects', 'Personal projects - past & present', 'projects.png', 'projects'),
                        new FacetContent('GitHub', 'Main VCS profile', 'github-light.png', 'https://github.com/koellewe'),
                        new FacetContent('BitBucket', 'Secondary VCS profile', 'bitbucket.svg', 'https://bitbucket.org/stonepillarstudios/'),
                        new FacetContent('GitLab', 'Tertiary VCS profile', 'gitlab.png', 'https://gitlab.com/koellewe'),
                    ], 'coding.png'),
                    new FacetRowContent('Personal', [
                        new FacetContent('Medium', 'Personal blog', 'medium.png', 'https://medium.com/@jansgeorge'),
                        new FacetContent('Social Responsibility', 'NGO\'s I support' , 'charity.png', 'social-responsibility'),
                        //new FacetContent('Instagram', 'Visual social media', 'insta.png', 'https://www.instagram.com/jansgeorge0/'),
                        new FacetContent('Steam', 'Gaming', 'steam.png', 'https://steamcommunity.com/id/koellewe/'),
                    ]),
                    new FacetRowContent('Taste', [
                        new FacetContent('Spotify', 'Music taste', 'spotify.png', 'https://open.spotify.com/user/jansgeorge'),
                        new FacetContent('VSCO', 'My artsy aesthetic', 'vsco.png', 'https://vsco.co/jansgeorge/gallery'),
                        new FacetContent('IMDb', 'Film taste', 'imdb.png', 'https://www.imdb.com/user/ur123889706/lists'),
                    ], 'roses.jpg'),
                    new FacetRowContent('Miscellaneous', [
                        new FacetContent('arXiv', 'Academic publications', 'arxiv.jpg', 'https://arxiv.org/search/cs?searchtype=author&query=Rautenbach%2C+G'),
                        new FacetContent('Unabridged CV', 'Comprehensive professional life overview', 'unabridged.png', 'unabridged'),
                    ]),
                ],
                landscape: window.innerWidth >= window.innerHeight,
            };
        },
        mounted: function (){
            const self = this;
            setTimeout(function(){
                let height = self.landscape ? self.$refs['top_part_land'].offsetHeight :
                    self.$refs['top_part_port'].offsetHeight;
                const width = window.innerWidth;

                const r = Math.floor(160 + Math.random() * (255-160)).toString(16);

                const triangs = self.$refs['triangles']
                    .appendChild(new Triangulr(width, height, 64, 32, (path) => {
                        const random = 32;
                        const ratio = (path.x * path.y) / (path.cols * path.lines);

                        const g = Math.floor(255 - (ratio * (255-random)) - Math.random()*random).toString(16);
                        return '#'+r+g+'00';
                    }));

                triangs.setAttribute('viewBox', '0 0 ' + width + ' ' + (height+120)); // cut-off prevention

            });
        },
    }



</script>

<style scoped>
    .flex {
        display: flex;
    }
    img {
        border-radius: 10px;
    }
    #home-img-land {
        max-width: 340px;
    }
    #home-img-port {
        max-height: 33vh;
        max-width: 80vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
    }
    .flex-grow-1 {
        flex-grow: 1;
    }
    .flex-grow-0 {
        flex-grow: 0;
    }
    .top-part {
        padding-top: 12px;
        padding-bottom: 12px;
        position: relative;
        z-index: 10;
    }
    #triangle-subject {
        z-index: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    #facets_container {
        margin-top: 48px;
    }
</style>
