<template>
    <div class="text-center">
        <h1 id="main-title">Jans George Rautenbach</h1>
        <p id="subtitle">BSc (Hons) Computer Science &amp; Philosophy</p>
        <p id="sub">University of Cape Town; University of Pretoria</p>
<!--        <p id="my-intro">What is the difference between extremely advanced technology, and a human mind?<br/>-->
<!--            If a computer asks for rights, should you grant them?</p>-->
        <p id="main-par"> Having a technical CS background and subjection in academic philosophy, I am riveted by disciplines
            like computer ethics, technological metaphysics, and singularity philosophy.
            My perspective offers independent, critical and ethical thinking that produces
            work that is both philosophically and programmatically sound.</p>
    </div>
</template>

<script>
    export default {
        name: "IntroText"
    }
</script>

<style scoped>
    #main-title {
        font-size: 3em;
        margin-bottom: -6px;
        margin-top: 12px;
    }
    #subtitle {
        font-size: 1.4em;
        margin-bottom: 0;
    }
    /*#my-intro {*/
    /*    margin-top: 24px;*/
    /*    font-style: italic;*/
    /*}*/
    #sub {
        color: darkblue;
        font-weight: bold;
        font-size: .9em;;
    }

    .text-center {
        text-align: center;
    }

    #main-par {
        margin-top: 36px;
    }
</style>
