<template><div id="outer">
    <div style="display: flex; align-items: center; justify-content: center; flex-basis: fit-content">
        <img src="https://libalex.singularity.net.za/rauten/icons/charity.png" id="main-img" alt="">
        <h1 style="margin-left: 16px;">Social Responsibility</h1>
    </div>

    <p style="text-align: center">(<router-link to="/">Back to home page</router-link>)</p>

    <p id="main-p">I take my moral responsibility to my fellow humans seriously. Be it those I know in a personal or
        professional capacity, or those I don't know from South Africa or of the world.
        Here are the charities and NGO's I support either financially or by way of donation of my time and other
        resources.</p>

    <div id="facet-container">
        <div v-for="charity in charities" :key="charity.name">
            <Facet v-bind:facet="charity"></Facet>
        </div>
    </div>

    <div id="fade-out"/>

</div></template>

<style scoped>
    #outer {
        padding: 24px;
        background-color: lightblue;
    }
    #facet-container {
        margin-top: 68px;
        margin-bottom: 48px;

        position: relative;
        z-index: 9;
        padding: 0 24px;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 5vw 64px;
    }

    #main-img {
        max-width: 140px;
    }

    #main-p {
        width: 912px;
        max-width: 85vw;
        margin: auto;
        text-align: center;
    }

    #fade-out {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 30px 0;
        background-image: linear-gradient(to bottom, transparent, white);
    }
</style>

<script>

    import FacetContent from "../data-classes/FacetContent";
    import Facet from "./home/Facet";

    export default {
        name: "Charity",
        components: {Facet},
        data: () => {
            return {
                charities: [
                  new FacetContent('Wikipedia', 'Archiving and availing all the knowledge in the world', 'wikipedia.png', 'https://wikipedia.org', true),
                  new FacetContent('Electronic Frontier Foundation', 'Fighting for digital privacy, free speech, and innovation', 'eff.png', 'https://eff.org', true),
                  new FacetContent('Center for Humane Technology', 'Forging the path toward a new era of truly humane technology', 'cht.png', 'https://www.humanetech.com/', true),
                  new FacetContent('Algorithmic Justice League', 'Leading a cultural movement towards equitable and accountable AI', 'ajl.png', 'https://www.ajl.org/', true),
                  new FacetContent('Let\'s Encrypt', 'Encrypting the web with open certificates', 'letsencrypt.png', 'https://letsencrypt.org', true),
                  new FacetContent('Greenpeace Africa', 'Creatively confronting environmental injustices', 'greenpeace.png', 'https://www.greenpeace.org/africa/en/', true),
                  new FacetContent('Nelson Mandela Foundation', 'Promoting Madiba\'s vision by convening dialogue on critical social issues', 'nmf.png', 'https://www.nelsonmandela.org', true),
                ]
            }
        },
    }

</script>
