<template>
    <div id="component_root">
        <h1>Rauten projects dashboard</h1>
        <!-- security -->
        <div id="dash-security" v-if="!security.passed">
            <md-field>
                <label>Password</label>
                <md-input v-model="security.pwd" required type="password"></md-input>
            </md-field>
            <md-button class="md-raised md-primary" @click="onPasswordCheckClick">Check</md-button>
        </div>

        <div id="dash-content" v-if="security.passed">
            <md-tabs :md-active-tab="editing.activeTab" id="mod_tabs">
                <md-tab id="tab_mod_project" md-label="Modify Project">

                    <md-switch v-model="editing.project">
                        <strong>{{editing.project ? 'Edit' : 'Creation'}}</strong> mode
                    </md-switch>
                    <md-field v-if="editing.project">
                        <label>Project ID</label>
                        <md-input v-model="editing.projectID" type="number" required></md-input>
                    </md-field>
                    <md-field>
                        <label>Name</label>
                        <md-input v-model="project.name" required></md-input>
                    </md-field>
                    <md-field>
                        <label>Status</label>
                        <md-input v-model="project.status" placeholder="In development" required></md-input>
                    </md-field>
                    <md-field>
                        <label>Description</label>
                        <md-input v-model="project.description" placeholder="Awesome app with a purpose" required></md-input>
                    </md-field>
                    <md-field>
                        <label>Technologies</label>
                        <md-input v-model="project.technologies" placeholder="go, blazor, websockets"></md-input>
                        <span class="md-helper-text">Comma separated list of tech slugs</span>
                    </md-field>
                    <md-field>
                        <label>Image Filename</label>
                        <md-input v-model="project.image" placeholder="slug.png"></md-input>
                    </md-field>
                    <md-field>
                        <label>Website link</label>
                        <md-input v-model="project.website" placeholder="https://example.org/app"></md-input>
                    </md-field>
                    <md-field>
                        <label>Playstore link</label>
                        <md-input v-model="project.playstore"
                                placeholder="https://play.google.com/store/apps/details?id=org.example.app"></md-input>
                    </md-field>
                    <md-field>
                        <label>VCS ID</label>
                        <md-input v-model="project.vcsID" type="number" required></md-input>
                        <span class="md-helper-text">-1 is mapped to null</span>
                    </md-field>
                    <md-button class="md-raised md-primary" v-on:click="mutateRemoteProject">
                        {{editing.project ? 'Update' : 'Create'}} Project</md-button>

                </md-tab>
                <md-tab id="tab_mod_vcs" md-label="Modify VCS">

                    <md-switch v-model="editing.vcs">
                        <strong>{{editing.vcs ? 'Edit' : 'Creation'}}</strong> mode
                    </md-switch>
                    <md-field v-if="editing.vcs">
                        <label>VCS ID</label>
                        <md-input v-model="editing.vcsID" type="number" required></md-input>
                    </md-field>
                    <br v-if="!editing.vcs"/>

                    <!-- md select doesn't work (beta, lol)-->
                    <label for="inp_provider" style="padding-right: 12px;">Provider:</label>
                    <select v-model="vcs.provider" id="inp_provider">
                        <option value="github">GitHub</option>
                        <option value="gitlab">GitLab</option>
                        <option value="bitbucket">BitBucket</option>
                    </select>
                    <md-field>
                        <label>Username</label>
                        <md-input v-model="vcs.user" required></md-input>
                    </md-field>
                    <md-field>
                        <label>Repo/group name</label>
                        <md-input v-model="vcs.repo" required></md-input>
                    </md-field>
                    <md-checkbox v-model="vcs.repoGroup">Repogroup</md-checkbox>
                    <md-checkbox v-model="vcs.isPrivate">Private</md-checkbox>
                    <br/>
                    <md-button class="md-raised md-primary" v-on:click="mutateRemoteVCS">
                        {{editing.vcs ? 'Update' : 'Create'}} Record</md-button>

                </md-tab>
                <md-tab id="tab_mod_tech" md-label="Modify Technology">

                    <md-switch v-model="editing.tech">
                        <strong>{{editing.tech ? 'Edit' : 'Creation'}}</strong> mode
                    </md-switch>

                    <md-field>
                        <label>Slug</label>
                        <md-input v-model="tech.slug" required></md-input>
                    </md-field>
                    <md-field>
                        <label>Alt text</label>
                        <md-input v-model="tech.alt" placeholder="Cool Technology"></md-input>
                    </md-field>
                    <md-field>
                        <label>URL</label>
                        <md-input v-model="tech.link" placeholder="https://cooltech.org"></md-input>
                    </md-field>
                    <md-field>
                        <label>Image filename</label>
                        <md-input v-model="tech.img" placeholder="cool.png"></md-input>
                    </md-field>
                    <br/>
                    <md-button class="md-raised md-primary" @click="mutateRemoteTech">
                        {{editing.tech ? 'Update' : 'Register'}} Technology
                    </md-button>

                </md-tab>

            </md-tabs>


            <div id="dash-tables">
                <md-tabs :md-active-tab="lists.activeTab">
                    <md-tab id="tab_projects" md-label="Projects">
                        <md-table v-if="lists.projects">
                            <md-table-row>
                                <md-table-head></md-table-head>
                                <md-table-head>Name</md-table-head>
                                <md-table-head></md-table-head>
                            </md-table-row>
                            <md-table-row v-for="proj in lists.projects" v-bind:key="proj.id">
                                <md-table-cell><img v-if="proj.image" class="project-icon" :src="`${IMG_URL}/projects/${proj.image}`">
                                </md-table-cell>
                                <md-table-cell><span class="proj-name">{{proj.name}}</span></md-table-cell>
                                <md-table-cell><md-button class="md-accent" @click="onEditProjectClick(proj)">
                                    Edit</md-button></md-table-cell>
                            </md-table-row>
                        </md-table>

                    </md-tab>
                    <md-tab id="tab_vcs" md-label="VCS Records">

                        <md-table v-if="lists.vcss">
                            <md-table-row>
                                <md-table-head>ID</md-table-head>
                                <md-table-head>URL</md-table-head>
                                <md-table-head></md-table-head>
                            </md-table-row>
                            <md-table-row v-for="vcsInfo in lists.vcss" v-bind:key="vcsInfo.id">
                                <md-table-cell>{{vcsInfo.id}}</md-table-cell>
                                <md-table-cell>{{vcsInfo.weblink}}</md-table-cell>
                                <md-table-cell><md-button class="md-accent" @click="onEditVCSClick(vcsInfo)">
                                    Edit</md-button></md-table-cell>
                            </md-table-row>
                        </md-table>

                    </md-tab>
                    <md-tab id="tab_techs" md-label="Technologies">
                        
                        <md-table v-if="lists.techs">
                            <md-table-row>
                                <md-table-head></md-table-head>
                                <md-table-head>Slug</md-table-head>
                                <md-table-head></md-table-head>
                            </md-table-row>
                            <md-table-row v-for="tech in lists.techs" v-bind:key="tech.slug">
                                <md-table-cell><img v-if="tech.img" class="project-icon" :src="`${IMG_URL}/techs/${tech.img}`"></md-table-cell>
                                <md-table-cell>{{tech.slug}}</md-table-cell>
                                <md-table-cell><md-button class="md-accent" @click="onEditTechClick(tech)">
                                    Edit</md-button></md-table-cell>
                            </md-table-row>
                        </md-table>
                    </md-tab>

                </md-tabs>

            </div>
        </div>

        <md-snackbar md-position="center" :md-duration="5000" :md-active.sync="snackBar.show">
            <span>{{snackBar.msg}}</span>
            <md-button class="md-primary" @click="snackBar.show = false">X</md-button>
        </md-snackbar>
    </div>
</template>

<script>
    import axios from 'axios';
    import ProjectContent from "@/data-classes/ProjectContent";

    export default {
        name: "Dashboard",
        data: () => ({
            vcs: {
                provider: 'github',
                user: '',
                repo: '',
                repoGroup: false,
                isPrivate: true,
            },
            project: {
                name: '',
                status: '',
                description: '',
                technologies: '',
                image: '',
                website: '',
                playstore: '',
                vcsID: -1,
            },
            tech: {
                slug: '',
                alt: '',
                link: '',
                img: '',
            },
            snackBar: {
                show: false,
                msg: '',
            },
            security: {
                passed: false,
                pwd: '',
            },
            lists: {
                projects: null,
                vcss: null,
                techs: null,
                activeTab: "tab_projects",
            },
            editing: {
                projectID: -1,
                project: false,
                vcsID: -1,
                vcs: false,
                // techSlug defined at tech.slug (above)
                tech: false,
                activeTab: "tab_mod_vcs",
            },
            IMG_URL: 'https://libalex.singularity.net.za/rauten',
        }),
        methods: {
            onPasswordCheckClick: function(){
                axios.get(process.env.VUE_APP_BACKEND+'/checkpwd', {
                    params: {
                        pwd: this.security.pwd
                    }
                }).then(() => {
                    this.snack("Password accepted.");
                    this.security.passed = true;
                }).catch((err) => {
                    this.snack("Password rejected. ("+err.response.status+')');
                });
            },
            mutateRemoteVCS: function(){
                if (this.editing.vcs){
                    axios.put(process.env.VUE_APP_BACKEND+'/vcs/'+this.editing.vcsID, this.vcs, {
                        params: {pwd: this.security.pwd}
                    }).then(resp => {
                            this.snack('VCS record updated ('+resp.status+')');
                            this.refreshVCS();
                        }).catch(err => {
                            this.snack('Failed to update VCS record ('+err.response.status+')');
                        });
                }else{ // create new
                    axios.post(process.env.VUE_APP_BACKEND+'/vcs', this.vcs, {
                        params: {pwd: this.security.pwd}
                    }).then(resp => {
                        this.snack('VCS record created ('+resp.status+')');
                        this.refreshVCS();
                    }).catch(err => {
                        this.snack('Failed to create VCS record ('+err.response.status+')');
                    });
                }
            },
            mutateRemoteProject: function(){
                const projectData = {};
                // copy over all fields, making blank-text nulls
                for(const key in this.project){
                    if (Object.prototype.hasOwnProperty.call(this.project, key)){
                        if (key === 'technologies')
                            projectData['techSlugs'] = this.project[key];
                        else
                            projectData[key] = this.project[key] === '' ? null : this.project[key];
                    }
                }
                projectData['lastUpdated'] = null;

                if (this.editing.project){
                    axios.put(process.env.VUE_APP_BACKEND+'/project/'+this.editing.projectID, projectData, {
                        params: {pwd: this.security.pwd}
                    }).then(resp => {
                        this.snack('Project updated ('+resp.status+')');
                        this.refreshProjects();
                    }).catch(err => {
                        this.snack('Failed to update project ('+err.response.status+')');
                    });
                }else{ // create new
                    axios.post(process.env.VUE_APP_BACKEND+'/project', projectData, {
                        params: {pwd: this.security.pwd}
                    }).then(resp => {
                        this.snack('Project created ('+resp.status+')');
                        this.refreshProjects();
                    }).catch(err => {
                        this.snack('Failed to create project ('+err.response.status+')');
                    });
                }
            },
            mutateRemoteTech: function(){
                if (this.editing.tech){
                    axios.put(process.env.VUE_APP_BACKEND+'/tech', this.tech, {
                        params: {pwd: this.security.pwd}
                    }).then(resp => {
                        this.snack('Technology updated ('+resp.status+')');
                        this.refreshTechs();
                    }).catch(err => {
                        this.snack('Failed to update technology ('+err.response.status+')');
                    });
                }else{ // create
                    axios.post(process.env.VUE_APP_BACKEND+'/tech', this.tech, {
                        params: {pwd: this.security.pwd}
                    }).then(resp => {
                        this.snack('Technology registered ('+resp.status+')');
                        this.refreshTechs();
                    }).catch(err => {
                        this.snack('Failed to register technology ('+err.response.status+')');
                    });
                }
            },
            onEditProjectClick: function(proj){
                // copy over proj values  (proj has extra values)
                this.project.name = proj.name;
                this.project.status = proj.status;
                this.project.description = proj.desc;

                this.project.technologies =  proj.techs.map(tech => tech.slug).join(', '); // comma-sep

                this.project.image = proj.image ? proj.image : '';
                this.project.website = proj.website ? proj.website : '';
                this.project.playstore = proj.playstore ? proj.playstore : '';
                this.project.vcsID = proj.vcsID ? proj.vcsID : -1;

                // setup editing
                this.editing.projectID = proj.id;
                this.editing.project = true;
                this.editing.activeTab = 'tab_mod_project';
                this.$scrollTo('#mod_tabs');
            },
            onEditVCSClick: function(vcsInfo){
                // copy over vcs values  (vcsInfo has extra properties)
                this.vcs.user = vcsInfo.user;
                this.vcs.repo = vcsInfo.repo;
                this.vcs.provider = vcsInfo.provider;
                this.vcs.repoGroup = vcsInfo.repoGroup;
                this.vcs.isPrivate = vcsInfo.isPrivate;

                // setup editing
                this.editing.vcsID = vcsInfo.id;
                this.editing.vcs = true;
                this.editing.activeTab = 'tab_mod_vcs';
                this.$scrollTo('#mod_tabs');
            },
            onEditTechClick: function(tech){
                this.tech.slug = tech.slug;
                this.tech.alt = tech.alt;
                this.tech.link = tech.link;
                this.tech.img = tech.img;

                // setup editing
                this.editing.tech = true;
                this.editing.activeTab = 'tab_mod_tech';
                this.$scrollTo('#mod_tabs');
            },
            refreshVCS: function(){
                axios.get(process.env.VUE_APP_BACKEND+'/vcsrecords')
                    .then(resp => {
                        this.lists.vcss = resp.data;
                    });
            },
            refreshProjects: function(){
                axios.get(process.env.VUE_APP_BACKEND+'/projects')
                    .then(resp => {
                        this.lists.projects = resp.data.map(projectRaw => new ProjectContent(projectRaw));
                        // server-sorted.
                    });
            },
            refreshTechs: function(){
                axios.get(process.env.VUE_APP_BACKEND+'/techs')
                    .then(resp => {
                        this.lists.techs = resp.data;
                    });
            },
            snack: function(msg){
                this.snackBar.msg = msg;
                this.snackBar.show = true; // listened for
            }
        },
        mounted() {
            this.refreshProjects();
            this.refreshVCS();
            this.refreshTechs();
        }
    }
</script>

<style scoped>
    #component_root {
        padding: 24px;
    }
    h4 {
        margin-top: 24px;
    }
    #dash-tables{
        margin-top: 48px;
    }
    .proj-name {
        font-weight: bold;
    }
    .project-icon{
        width: 46px;
        height: 46px;
    }
</style>
