<template><div>
    <h1>Not Found</h1>
    <p>The requested page could not be loaded.</p>
    <router-link to="/">Home</router-link>
</div></template>

<script>
    export default {
        name: "NotFound"
    }
</script>

<style scoped>

</style>
