<template>
    <div :class="{niceMargins: landscape}" id="container">
        <h1>Personal Projects</h1>
        <p>(<router-link to="/">Back to home page</router-link>)</p>

        <div :class="{'d-flex': landscape}">
            <div>
                <p>Some of my personal projects are published under my company pseudonym <b>Stone Pillar Studios</b>.
                    The rest are either under my name, or if it is a collaborative project, under the project owner's name.<br/>
                    My university projects are not included here.</p>
            </div>
            <div style="margin-left: 36px; padding: 12px; border: dashed grey 2px;">
                <h3 v-html="'Services&nbsp;Up&nbsp;Status'"></h3>
                <div v-if="up.status === null" class="prog-container-sm">
                    <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
                    <div class="prog-text-sm">Querying Uptime Robot...</div>
                </div>
                <div v-if="up.status !== null" style="display: flex;">
                    <div :class="{bullet: true, 'bg-green':up.status==='ok',
                    'bg-orange':up.status!=='ok'}"></div>
                    <p style="padding: 6px;"><span v-if="up.status==='ok'">All clear for {{up.time}}</span>
                    <span v-if="up.status!=='ok'">Experiencing issues</span></p>
                </div>
                <a href="https://waypoint.singularity.net.za/status" target="_blank">More information</a>
            </div>
        </div>

        <div v-if="loadingProjects === 'loading'" id="prog-containter">
            <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
            <div id="prog-text">Querying projects API...</div>
        </div>
        <p v-if="loadingProjects === 'error'" id="load-error">
          Error fetching project data.
        </p>

        <md-table v-if="loadingProjects === 'loaded'" style="margin-top: 24px">
            <md-table-row>
                <md-table-head>Icon</md-table-head>
                <md-table-head>Name</md-table-head>
                <md-table-head>Description</md-table-head>
                <md-table-head v-if="landscape">Technologies</md-table-head>
                <md-table-head v-if="landscape" @click.native="dialogs.loc = true">LoC
                    <md-avatar style="height: 20px; margin-left: -10px;">
                        <img src="../assets/mini-icons/help-circle.svg" style="width: 20px; height: 20px;">
                        <md-tooltip md-direction="top">Lines of Code (click for more details)</md-tooltip>
                    </md-avatar>
                </md-table-head>
                <md-table-head v-if="landscape">Status</md-table-head>
                <md-table-head v-if="landscape" @click.native="dialogs.lastUpdated = true">Last Updated
                    <md-avatar style="height: 20px; margin-left: -10px;">
                        <img src="../assets/mini-icons/help-circle.svg" style="width: 20px; height: 20px;">
                        <md-tooltip md-direction="top">Latest Commit (click for more details)</md-tooltip>
                    </md-avatar>
                </md-table-head>
                <md-table-head>Links</md-table-head>
            </md-table-row>

            <md-table-row v-for="proj in projects" v-bind:key="proj.id">
                <md-table-cell><img v-if="proj.image" :class="{'project-icon': landscape, 'project-icon-sm': !landscape}"
                    :src="`${IMG_URL}/projects/${proj.image}`"></md-table-cell>
                <md-table-cell><span class="proj-name">{{proj.name}}</span></md-table-cell>
                <md-table-cell>{{proj.desc}}</md-table-cell>

                <md-table-cell v-if="landscape"><div class="tech_wrapper" :style="{width: (40*proj.techs.length)+'px'}">
                    <a v-for="tech in proj.techs" :key="tech.slug" :href="tech.link" target="_blank">
                        <img class="tech_img" :src="`${IMG_URL}/techs/${tech.img}`" :title="tech.alt"/>
                    </a>
                    </div>
                </md-table-cell>

                <md-table-cell v-if="landscape" v-html="proj.loc"></md-table-cell>
                <md-table-cell v-if="landscape">{{proj.status}}</md-table-cell>
                <md-table-cell v-if="landscape">{{proj.lastUpdated.toLocaleDateString('en-ZA')}}</md-table-cell>

                <md-table-cell>
                    <div style="display: flex">
                        <div v-for="(linfo, i) in proj.links" v-bind:key="i">
                            <a v-bind:href="linfo.link" target="_blank">
                                <img :src="`${IMG_URL}/icons/${linfo.icon}`" v-bind:alt="'Link to '+linfo.link"
                                    :class="{'link-icon': landscape, 'link-icon-sm': !landscape}">
                            </a>
                        </div>
                    </div>
                </md-table-cell>
            </md-table-row>
        </md-table>

        <md-dialog :md-active.sync="dialogs.loc">
            <md-dialog-title>Source Lines of Code</md-dialog-title>
            <div style="padding: 0 12px;">
              <p>The number of lines of code of a programming project is a commonly used metric in software engineering.
              It gives a good sense of the scope and complexity of a project. Note that writing LoC only accounts for about a third of overall project efforts.
                <a href="https://en.wikipedia.org/wiki/Source_lines_of_code" target="_blank">More about SLOC</a>.</p>
              <p>The LoC statistic for my projects are updated nightly and are powered by the open
              <a href="https://loculator.singularity.net.za" target="_blank">LoCulator</a> API.
                In the case of repo groups all repo's LoCs are summed.</p>
            </div>
            <md-dialog-actions>
              <md-button class="md-primary" @click="dialogs.loc = false">Close</md-button>
            </md-dialog-actions>
        </md-dialog>

        <md-dialog :md-active.sync="dialogs.lastUpdated">
            <md-dialog-title>Latest Commit</md-dialog-title>
            <div style="padding: 0 12px;">
                <p>This statistic is the date of the latest commit or merge of a repository in any branch. It
                should give you a good idea of how actively I maintain and update my projects.</p>
                <p>It's updated nightly by way of various requests to the relevant VCS providers' API's. In the
                case of repo groups, the latest commit of all the member repositories is taken.</p>
            </div>
            <md-dialog-actions>
                <md-button class="md-primary" @click="dialogs.lastUpdated = false">Close</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</template>

<script>
    import ProjectContent from "@/data-classes/ProjectContent";
    import axios from 'axios';

    export default {
        name: "Projects",
        data: () => ({
            projects: null,
            loadingProjects: 'loading',
            landscape: window.innerWidth >= window.innerHeight,
            dialogs: {
                loc: false,
                lastUpdated: false,
            },
            up: {
                status: null,
                time: null,
            },
            IMG_URL: 'https://libalex.singularity.net.za/rauten',
        }),
        mounted(){
            axios.get(process.env.VUE_APP_BACKEND+'/projects')
            .then(resp => {
                this.projects = resp.data.map(projectRaw => new ProjectContent(projectRaw));
                // server-sorted.
                this.loadingProjects = 'loaded';
            }).catch(err => {
              this.loadingProjects = 'error';
              console.log(err);
            });

            const urFormData = new FormData();
            urFormData.append('api_key', process.env.VUE_APP_UPTIMEROBOT_APIKEY);
            urFormData.append('format', 'json');
            urFormData.append('logs', '1');
            urFormData.append('logs_limit', '1');
            axios.post('https://api.uptimerobot.com/v2/getMonitors', urFormData, {headers:
                    {'Content-Type': 'multipart/form-data'}}).then(resp => {
                let ok = true;
                let latestDT = -1;
                for (const mon of resp.data['monitors']){
                    if (mon['status'] !== 2 && mon['status'] !== 0){  // up or paused
                        ok = false;
                        break;
                    }
                    const dt = mon['logs'][0]['datetime']
                    if (dt > latestDT)
                        latestDT = dt;
                }
                this.up.status = ok ? 'ok' : 'not-ok';
                if (this.up.status === 'ok'){ // calculate how long
                    const secs = Math.floor(new Date().getTime()/1000) - latestDT;
                    let mins = Math.floor(secs/60);
                    let hours = Math.floor(mins/60);
                    mins = mins % 60;
                    const days = Math.floor(hours/24);
                    hours = hours % 24

                    let upstr = '';
                    if (days > 0)
                        upstr += days + ' day' + (days>1 ?'s':'') + ' '

                    if (hours > 0)
                        upstr += hours + ' hour' + (hours>1 ? 's':'') + ' '

                    if (mins > 0)
                        upstr += mins + ' min' + (mins>1 ? 's':'')

                    if (upstr==='')
                        upstr = 'a few seconds'

                    this.up.time = upstr;
                }
            });
        },
    }
</script>

<style scoped>
    #container {
        padding: 24px 6px 0;
    }
    .niceMargins { /* used dynamically*/
        margin: 0 2vw;
    }
    .d-flex { /* used dynamically*/
        display: flex;
    }
    .project-icon {
        min-width: 80px;
        height: 80px;
    }
    .project-icon-sm {
        min-width: 40px;
        height: 40px;
    }
    .proj-name {
        font-weight: bold;
    }

    .link-icon {
        min-width: 80px;
        height: 80px;
    }
    .link-icon-sm {
        min-width: 40px;
        height: 40px;
    }

    #prog-text {
        font-size: 1.3em;
        font-style: oblique;
        padding: 16px;
    }
    .prog-text-sm {
        font-style: oblique;
        padding: 16px;
    }
    #prog-containter {
        display: flex;
        justify-content: center;
        margin-bottom: 40vh;
        margin-top: 48px;
    }
    .prog-container-sm {
        display: flex;
        justify-content: center;
    }
    #load-error {
        text-align: center;
        background-color: indianred;
        color: white;
        font-weight: bold;
        padding: 12px;
        margin-top: 24px;
    }
    .bullet {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .bg-green {
        background-color: #80BA27;
    }
    .bg-orange {
        background-color: #F7921E;
    }
    .tech_img {
        height: 38px;
        width: 38px;
        padding: 1px;
    }
    .tech_wrapper {
        display: flex;
        flex-direction: row;
    }
</style>
