<template>
    <div id="container">
        <h1>Unabridged CV - Jans Rautenbach</h1>
        <p>(<router-link to="/">Back to home page</router-link>)</p>

        <div v-if="!sections" id="prog-containter">
            <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
            <div id="prog-text">Getting the facts...</div>
        </div>
        <div v-else>

            <p>Below is a comprehensive list of everything professionally noteworthy or mentionable about me.
                Certificates and exam results are not available here, but can be sent on request.
                Send me an email if you seek a condensed version of my CV.</p>

            <div v-for="sect of sections" :key="sect.id"> <!-- render sections -->
                <h2 v-b-toggle="sect.id">{{sect.title}}</h2>
                <b-collapse :id="sect.id">

                    <div v-html="sect.preContent"></div>

                    <div v-for="subs of sect.subsections" :key="subs.id">

                        <h3 v-b-toggle="subs.id">{{subs.title}}</h3>
                        <b-collapse :id="subs.id" v-html="subs.content">
                        </b-collapse>
                    </div>
                </b-collapse>
            </div>
        </div>
    </div>
</template>

<script>
    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'
    import axios from "axios";
    import cheerio from 'cheerio';

    class Section {
        id;
        title;
        preContent;
        subsections;
    }
    class Subsection {
        id;
        title;
        content;
    }

    export default {
        name: "Unabridged",
        data: ()=>({
            sections: null,
        }),
        created(){
            this.fetchData();
        },
        methods: {
            fetchData() {
                const url = 'https://libalex.singularity.net.za/rauten/content/unabridged-cv.html?ts='+
                        Math.floor(new Date().getTime()/1000);
                // cheeky hack to force clients to reload the content on each visit.
                axios.get(url).then(resp=>{

                    const dom = cheerio.load(resp.data);
                    const secs = [];

                    const domSecs = dom("section");
                    for(let i = 0; i < domSecs.length; i++){
                        const domSect = domSecs[i];

                        const parsedSect = new Section();
                        parsedSect.id = "section-"+i;
                        parsedSect.title = domSect.attribs["title"];
                        parsedSect.preContent = "";
                        parsedSect.subsections = [];

                        for(let j = 0; j < domSect.childNodes.length; j++) {
                            const domSub = domSect.childNodes[j];

                            if (domSub.tagName === "subsection") {
                                const parsedSub = new Subsection();
                                parsedSub.id = "subsection-"+i+"-"+j;
                                parsedSub.title = domSub.attribs["title"];
                                parsedSub.content = dom(domSub).html().trim();
                                parsedSect.subsections.push(parsedSub);

                            } else {
                                parsedSect.preContent += cheerio.html(domSub);
                            }
                        }

                        parsedSect.preContent = parsedSect.preContent.trim();
                        secs.push(parsedSect);
                    }

                    this.sections = secs;
                });
            }
        }
    }

</script>

<style scoped>
    #container {
        padding-top: 24px;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    h2{
        background-color: #8a0075;
        font-size: 1.4em;
        cursor: pointer;
        padding: 14px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        color: white;
    }
    h3{
        background-color: #00931e;
        font-size: 1.2em;
        cursor: pointer;
        padding: 10px 14px;
        width: 96%;
        border: none;
        text-align: left;
        outline: none;
        color: white;
    }
    h3:not(.collapsed), h3:hover {
        background-color: #006e1a;
    }
    h2:not(.collapsed), h2:hover {
        background-color: #5f0053;
    }
    h2.collapsed:after, h3.collapsed:after {
        content: '+';
        font-size: 1.5em;
        color: white;
        float: right;
        margin-top: -5px;
    }
    h2:not(.collapsed):after, h3:not(.collapsed):after {
        content: '-';
        font-size: 1.5em;
        color: white;
        float: right;
        margin-top: -8px;
    }

    #prog-text {
        font-size: 1.3em;
        font-style: oblique;
        padding: 16px;
    }
    #prog-containter {
        display: flex;
        justify-content: center;
        margin-bottom: 40vh;
        margin-top: 48px;
    }
</style>
